/********************************************************************************/
/********************************************************************************/
/********************************GLOBAL STYLES***********************************/
/********************************************************************************/
/********************************************************************************/

@font-face {
  font-family: 'Open Sans';
  src: url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}
h1{
	font-size: 2em;
	font-weight: 700;
	text-transform: none;	
}
h2{
	font-size: 2em;
	font-weight: normal;
	text-transform: none;	
}
h3{
	font-size: 1.5em;
	font-weight: normal;
	text-transform: none;		
}
h4{
	font-size: 1.25em;
	font-weight: normal;
	text-transform: none;	
	
}
h5{
	font-size: 1em;
	font-weight: normal;
}
h6{	font-size: 1em;
	font-weight: bold;
	text-transform: none;	
}
p{
	font-size: 0.75em;
}
a, a:hover {
	color: #f00;
	text-decoration: underline;
}
input, textarea, select {
	font-family: 'Open Sans', sans-serif;
	outline: none; 
}
select::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner {   
	border: 0px solid transparent;
} 
.thin-font {
	font-weight: 300;
}
.main-menu {
	color: #f00;
	padding: 0;
	margin: 0;
}
.main-menu li {
	font-size: 1.5em;
	display: inline;
}
.main-menu a {
	font-size: 0.75em;
	color: #000;
	padding: 5px;
	text-decoration: none;
	cursor: pointer;
}
.main-menu a:hover, .main-menu a:active {
	background: #f77;
	-moz-box-shadow: inset 0 0 10px 8px #fff;
	-webkit-box-shadow: inset 0 0 10px 8px#fff;
	box-shadow: inset 0 0 10px 8px #fff;
}
.clear {
	clear: both;
}
/********************************************************************************/
/********************************************************************************/
/********************************HEADER STYLES***********************************/
/********************************************************************************/
/********************************************************************************/

header h1 {
    /* remove h1 text from the viewport */
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
	margin-bottom: 0px;
} 
.red-border{
border-bottom: solid 3px #FF0000;
}

header h4{
	margin-top: 15px;
}
header .logo{
	margin-left:20px;
}
header input{
	margin-top:18px;
}
header ul li{
display: inline-block;

}
header ul li a{
	text-decoration: none;
	color: #fff;
}
header input{
	background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #5C3612;
    box-shadow: 7px 1px 7px 6px  #CECECE inset;
    height: 24px;
    padding: 4px 0 0 32px;
    width: 240px;
	float: right;
	 border-radius: 0px;
}
header .icon-cog{
	position: relative;
	float: right;
	top: 19px;
	left: 211px;
	background: none repeat scroll 0 0 transparent;
    color: #2B2B2D;
}
header .icon-search{
   background: none repeat scroll 0 0 #FF2222;
    box-shadow: 0 0 11px 3px #AA0000 inset;
    float: right;
    left: 267px;
    position: relative;
    top: 19px;
}
header .icon-input{
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 0px;
}

header p{
	float: right;
}

/********************************************************************************/
/********************************************************************************/
/*********************************UI ELEMENTS************************************/
/********************************************************************************/
/********************************************************************************/

/************************************************SCORING COMPARATION ELEMENTS****/

/************** ROWS ******************/
.employee-data-comparison {
	background: none repeat scroll 0 0 #FCFCFC;
	box-shadow: 0px 12px 50px 0px #CECECE inset;
	width: 100%;
	max-width: 950px;
	height: 46px;
	border: solid #000 1px;
	margin: 5px 0 0 0;
	clear: left;
}
.employee-data-comparison-active {
	background: none repeat scroll 0 0 #F22;
	box-shadow: 0px 12px 50px 0px #a00 inset;
	border: solid #000 1px;
	width: 100%;
	max-width: 950px;
	height: 46px;
	margin: 5px 0 0 0;
}
.employee-data-comparison:hover {
	border: solid #f22 1px;
} 

.employee-data {
	width: 330px;
	height: 46px;
	padding: 2px 7px;
	float: left;
}
.employee-data input[type="text"]{
	background: transparent;
	border: none;
	font-size: 1.4em;
	color: #000;
	border-radius: 0px;
	height: 25px;
	padding: 0;
	font-weight: 300;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.employee-data input[type="text"]:focus{
	border: solid black 1px;
	font-size: 0.8em;
	color: #000;
	border-radius: 0px;
	height: 20px;
	padding: 3px;
	margin: 5px 0 2px  0;
	font-weight: 500;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.employee-data .select-container{
	float: left;
	width: 30%;
	margin-right: 3px;
	overflow: hidden;
	height: 14px;
}
.employee-data .select-container .selection-placeholder{
	position: relative;
	left: 87%;
	width: 10%;
	top: -1px;
	visibility: hidden;
	text-shadow: 0 0 5px 5px rgba(0,0,0,0.5);

}

.employee-data .select-container:hover{
	border: solid black 1px;
}
.employee-data .select-container:hover .selection-placeholder{
	visibility: visible;
}
.employee-data select {
	font-size: 0.6em;
	font-weight: 700;
	border: none;
	padding: 1px;
	background: transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 120%;
	border-radius: 0px;
	height: 16px;
	position: relative;
	top: -17px;
}
.employee-data select:hover{
	font-weight: 600;
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3) inset;
}
.employee-data-comparison-active .employee-data input[type="text"] {
	color: #fff;

}
.employee-data-comparison-active .employee-data select option{
	background: #fff;
}

/************* SCORING *****************/

.score-block {
	padding: 7px 3px;
	display: inline-block;
}
.select-dropdown-mini {
	display: block;
	width: 34px;
	height: 34px;
	border: #000 solid 1px;
	font-size: 1.4em;
	padding:0px 0 0 0;
	overflow: hidden;
}
.dropdown-background {
	background: none repeat scroll 0 0 #F22;
	box-shadow: 0px 0px 17px 3px #a00 inset;
	width: 34px;
	height: 40px;
	position: relative;
	top: -36px;
	left: 0;
	z-index: 0;
}
.dropdown-background-disabled {
	background: none repeat scroll 0 0 #FCFCFC;
	box-shadow: 0px 0px 13px 7px #CECECE inset;
	width: 34px;
	height: 40px;
	position: relative;
	top: -36px;
	left: 0;
	z-index: 0;
}
.select-dropdown-mini .selection-placeholder {
	position: relative;
	top: 30px;
	display: block;
	z-index: 1000;
	width: 35px;
	font-size: 25px;
	text-align: center;
}
.select-dropdown-mini .selection-placeholder:hover {
	color: #fff;
}

.score-select-comparation-mini {
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 64px;
	height: 34px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	background: none;
	font-weight: 300;
	position: relative;
	top: 0;
	left:0px;
	border: none;
	padding: 0px 16px 0px 10px; 
	z-index: 1;
}
select.score-select-comparation-mini option{
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	background: #fff;
	text-align: center;
	border: none;
	display: block;
	
}
.scoring-data {
	float: left; 
}

/*********************************************Homepage elements**********************/
.links{
	width: 100px;
	height: 100px;
	background: none repeat scroll 0 0 #CECECE;
	box-shadow: 0px 0px 13px 7px #acacac inset;
	text-align: right;
	padding: 10px 10px 0 0;
}
a.linkHome, a.linkHome:hover{
	color: #595959;
	font-size: 2em;
	text-decoration: none;
	margin: 0 5px 0 0;
}
.linkHome, .quickLink img{
	float: left;
}
.quickLink{
	width: 278px;
	height: 100px;
	padding:25px 15px 0 15px;
	background: none repeat scroll 0 0 #ebebeb;
	box-shadow: 0px 0px 13px 7px #d3d3d3 inset;
	text-align: right;
}

/********************************************************************************/

/***************************************************************FORM ELEMENTS****/

form input[type="text"] {
	width: auto;
	margin-bottom: 6px;
	background: none repeat scroll 0 0 #FCFCFC;
	padding: 4px 0 0 32px;
    border: 1px solid #5C3612;
    box-shadow: 0px 0px 13px 7px #CECECE inset;
    border-radius: 0px;
}
form input[type="password"] {
	width: auto;
	margin-bottom: 6px;
	background: none repeat scroll 0 0 #FCFCFC;
	padding: 4px 0 0 32px;
    border: 1px solid #5C3612;
    box-shadow: 0px 0px 13px 7px #CECECE inset;
    border-radius: 0px;
}
form input[type="date"] {
	width: auto;
	margin-bottom: 6px;
	background: none repeat scroll 0 0 #FCFCFC;
	padding: 4px 0 0 32px;
    border: 1px solid #5C3612;
    box-shadow: 0px 0px 13px 7px #CECECE inset;
    border-radius: 0px;
}
form input[placeholder]::-webkit-input-placeholder { 
    color: #000;
}
input::-moz-placeholder { 
    color: #000;
}

form input[type="submit"],form input[type="submit"]:hover{
	border: none;
	background: none;
	color: #f00;
	font-weight: bold;
}	
form textarea {
	width: auto;
	margin-bottom: 6px;
	background: none repeat scroll 0 0 #FCFCFC;
	padding: 4px 0 0 12px;
    border: 1px solid #5C3612;
    box-shadow: 0px 0px 13px 7px #CECECE inset;
    border-radius: 0px;
}

.checkRequest, .checkRequest:hover{
	background: none repeat scroll 0 0 #e94a00;
	box-shadow: 0px 0px 17px 3px #a00 inset;
	border: none;
	border-radius: 0;
	font-size: 1.4em;
	font-weight: 300;
	text-align: right;
	width: 100px;
	height: 40px;
	padding: 8px;
}


/********************************************************************************/
/********************************************************************************/
/*******************************FOOTER ELEMENTS**********************************/
/********************************************************************************/
/********************************************************************************/

footer {
	 background: none repeat scroll 0 0 #FCFCFC;
    box-shadow: 0px 1px 32px 5px  #CECECE inset;
	min-height: 100px;
}
.footer-logo{
	 background-image: url("../images/bosz_footer_logo.png");
	background-repeat:no-repeat;
	height:42px;
	width:115px;
	display: block;
	float: left;
}
footer h4{
	  display: block;
    float: right;
    padding-top: 6px;
}
footer span{
	 display: block;
    float: left;
    padding: 15px 0 0 9px;
    width: 313px;
