h1{
background-color: #fff;
<<<<<<< HEAD
color:#000;
<<<<<<< HEAD
color:blue;
text-align: center

}
=======
=======
color:blue;
>>>>>>> campos
text-align: center;
}
span{
	float:left;
	display:inline-block;
}
h3{
	text-decoration: none;
}
<<<<<<< HEAD
>>>>>>> error
=======
img{
	width: 300px;
}








.pruebacampos{
	display: block;
}
>>>>>>> campos
