// ===================================
//       GroundworkCSS Buttons
// ===================================




button, .button, a.button, a.button:visited, input[type=submit],  input[type=button], input[type=reset], [role=button] {
  display:inline-block;
  word-wrap:break-word;
  padding:0.25em 1em;
  background:$button-color;
  border:1px solid $button-active;
  color:$button-text;
  font-family:$font-family;
  font-weight:bold;
  font-size:1em;
  text-decoration:none;
  cursor:pointer;
  line-height:1.5;
  width:auto;
  height:auto;
  text-align:center;
  @include transition(background-color 0.25s ease-out);
  @include rounded($radius);
  &.on, &:hover, &:focus {
    background:$button-active;
    text-decoration:none;
    color:$button-active-text;
  }
  &.active, &.active:hover, &.active:focus {
    background:$button-active;
    color:$button-active-text;
  }
  &.disabled {
    @include state(disabled,normal,desaturate($button-color,20%));
  }
  &.info {
    background-color:darken($info-background, 40%);
    color:$button-text;
    border-color:darken($info-border, 40%);
    &.active, &:hover, &:focus {
      background:darken($info-background, 49%);
    }
    &.disabled {
      @include state(disabled,normal,desaturate($info-color,20%));
    }
  }
  &.alert {
    background-color:darken($alert-background, 40%);
    color:$button-text;
    border-color:darken($alert-border, 25%);
    &.active, &:hover, &:focus {
      background:darken($alert-background, 45%);
    }
    &.disabled {
      @include state(disabled,normal,desaturate($alert-color,20%));
    }
  }
  &.warning {
    background-color:darken($warning-background, 40%);
    color:$button-text;
    border-color:darken($warning-border, 40%);
    &.active, &:hover, &:focus {
      background:darken($warning-background, 45%);
    }
    &.disabled {
      @include state(disabled,normal,desaturate($warning-color,20%));
    }
  }
  &.error {
    background-color:darken($error-background, 40%);
    color:$button-text;
    border-color:darken($error-border, 40%);
    &.active, &:hover, &:focus {
      background:darken($error-background, 49%);
    }
    &.disabled {
      @include state(disabled,normal,desaturate($error-color,20%));
    }
  }
  &.success {
    background-color:darken($success-background, 40%);
    color:$button-text;
    border-color:darken($success-border, 40%);
    &.active, &:hover, &:focus {
      background:darken($success-background, 49%);
    }
    &.disabled {
      @include state(disabled,normal,desaturate($success-color,20%));
    }
  }
  // &.error {
  //   background:$error-color;
  //   border:1px solid darken($error-color, 10%);
  //   color:$button-text;
  
  // }
  // &.warning {
  //   background:$warning-color;
  //   border:1px solid darken($warning-color, 10%);
  //   color:$button-text;
  //   &.active, &:hover, &:focus {
  //     background:darken($warning-color, 10%);
  //   }
  //   &.disabled {
  //     @include state(disabled,normal,desaturate($warning-color,20%));
  //   }
  // }
  // &.success {
  //   background:$success-color;
  //   border:1px solid darken($success-color, 10%);
  //   color:$button-text;
  //   &.active, &:hover, &:focus {
  //     background:darken($success-color, 10%);
  //   }
  //   &.disabled {
  //     @include state(disabled,normal,desaturate($success-color,20%));
  //   }
  // }
  &.small {
    font-size:0.8em;
  }
  &.large {
    font-size:1.5em;
  }
  &.square {
    @include rounded(0);
  }
  &.round {
    @include rounded(9999px);
  }
  &.block {
    display:block;
    width:100%;
  }
  &.dropdown {
    position:relative;
    padding-right:2em;
    &:after {
      content:'...';
      position:absolute;
      right:1em;
      bottom:0.25em;
    }
    &.on ul {
      display:block;
    }
    ul {
      text-align:left;
      margin:0.3em 0 0;
      padding:0;
      list-style:none;
      display:none;
      background:white;
      border:1px solid $border-color;
      position:absolute;
      left:0;
      width:100%;
      z-index:10;
      font-size:0.9em;
      @include rounded(0 0 $radius $radius);
      li {
        display:block;
        a, a:visited {
          display:block;
          padding:0.5em 1em;
          border:none;
          color:$font-color;
          text-shadow:none;
          text-decoration:none;
          &:hover, &:focus {
            background:#efefef;
          }
        }
        &:last-child {
          @include rounded(0 0 $radius $radius);
        }
        hr {
          margin:0;
          border-color:#ececec;
        }
      }
    }
  }
}
ul.button-list, ol.button-list {
  list-style:none;
  margin:0;
  padding:0;
  &:after {
    content:'';
    display:block;
    clear:both;
  }
  li {
    display:block;
    float:left;
    margin:0;
    border-radius:0;
    &:first-child a {
      border-radius:$radius 0 0 $radius;
    }
    &:last-child a {
      border-radius:0 $radius $radius 0;
    }
    a {
      display:block;
      word-wrap:break-word;
      padding:0.25em 1em;
      background:$button-color;
      border:1px solid $button-active;
      color:$button-text;
      font-weight:bold;
      font-size:1em;
      text-decoration:none;
      cursor:pointer;
      line-height:1.5;
      @include transition(background-color 0.25s ease-out);
      &:hover, &:focus {
        background:$button-active;
        text-decoration:none;
        color:$button-active-text;
        border:1px solid $button-active;
      }
      &.active, &.active:hover, &.active:focus {
        background:$button-active;
        color:$button-active-text;
      }
      &.disabled {
        @include state(disabled,normal,desaturate($button-color,20%));
      }
    }
  }
}
